<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>B/S Programming</title>
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=0;" />    
    <meta name="apple-mobile-web-app-capable" content="YES">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png"/>
    <link rel="stylesheet" type="text/css" href="/scripts/sweetalert/dist/sweetalert.css">
    <link rel="stylesheet" type="text/css" href="/scripts/sweetalert/dist/themes/google.css">
    <meta property="fb:app_id" content="149260988448984" />
    <meta name="title" content="Rumpetroll!" />        
  </head>
  <body>
    <canvas id="canvas"></canvas>      
    <canvas id="bullet-canvas"></canvas>
    <script src="js/lib/parseUri.js"></script>
    <script src="js/lib/modernizr-1.5.min.js"></script>                
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script src="js/lib/Stats.js"></script>
    <script src="js/lib/socket.io/socket.io.js"></script>
    <script src="/scripts/sweetalert/dist/sweetalert.min.js"></script>    
    <script src="js/Helper.js"></script>    
    <script src="js/HealthBar.js"></script>
    <script src="js/Socket.js"></script>
    <script src="js/ImageRepo.js"></script>                    
    <script src="js/Bullet.js"></script>
    <script src="js/BulletPool.js"></script>
    <script src="js/Enemy.js"></script>
    <script src="js/App.js"></script>
    <script src="js/Scene.js"></script>    
    <script src="js/Keys.js"></script>    
    <script src="js/Camera.js"></script>
    
    <script src="js/Player.js"></script>          
    <script src="js/Rock.js"></script>
    <script src="js/Arrow.js"></script>    
    
    <script src="js/main.js"></script>
        
    
    <script type="text/javascript" src="http://use.typekit.com/znu4fui.js"></script> 
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </body>
</html>

